<div class="paper">
  <header class="header">111</header>
  <div class="main-wrapper"></div>
  <footer class="footer"></footer>
</div>

<div ns-row>
  <div ns-col nsSpan="12">col-12</div>
  <div ns-col nsSpan="12">col-12</div>
</div>
<div ns-row>
  <div ns-col nsSpan="8">col-8</div>
  <div ns-col nsSpan="8">col-8</div>
  <div ns-col nsSpan="8">col-8</div>
</div>
<div ns-row>
  <div ns-col nsSpan="6">col-6</div>
  <div ns-col nsSpan="6">col-6</div>
  <div ns-col nsSpan="6">col-6</div>
  <div ns-col nsSpan="6">col-6</div>
</div>

<router-outlet></router-outlet>
